<!DOCTYPE HTML>
<html>
    <head>
        <title>Series Z | {{ model_name }}</title>
        <meta charset="utf-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="static/js-b/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="static/css-b/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="static/css-b/ie8.css" /><![endif]-->
        <script src="/static/js-b/sorttable.js"></script>          
    </head>
    <body class="landing">
        <div id="page-wrapper">

            <!-- Header -->
                <header id="header" class="alt">
                    <h1><a href="/">Series Z</a></h1>
                    <nav id="nav">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/startups">Startups</a></li>
                            <li><a href="/people">People</a></li>
                            <li><a href="/cities">Cities</a></li>
                        </ul>
                    </nav>
                </header>

            <!-- Banner -->
                <section id="banner">
                    <h2>{{ model_name }}</h2>
                </section>

            <!-- Main -->
                <section id="main" class="container">
                                            <div class="12u">

                            <!-- Table -->
                                <section class="box">

                                    <!-- <h4>Default</h4> -->
                                    <div class="table-wrapper">
                                        <table class="sortable">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    {% for label in data[0] %}
                                                        {% if label != 'name' %}
                                                            <td>{{ label.capitalize() }}<td>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for row in data %}
                                                <tr>
                                                    <td>{{ row['name'] }}</td>
                                                    {% for key in row %}
                                                        {% if key != 'name' %}
                                                        <td>{{ row[key] }}<td>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                            <tfoot>
                                            </tfoot>
                                        </table>
                                    </div>
                                </section>

                        </div>


        </div>

        <!-- Scripts -->
            <script src="/static/js-b/jquery.min.js"></script>
            <script src="/static/js-b/jquery.dropotron.min.js"></script>
            <script src="/static/js-b/jquery.scrollgress.min.js"></script>
            <script src="/static/js-b/skel.min.js"></script>
            <script src="/static/js-b/util.js"></script>
            <!--[if lte IE 8]><script src="/static/js-b/ie/respond.min.js"></script><![endif]-->
            <script src="/static/js-b/main.js"></script>

    </body>
</html>