<!DOCTYPE HTML>

<html>
    <head>
        <title>Series Z</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="/static/pages/assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="/static/pages/assets/css/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="/static/pages/assets/css/ie8.css" /><![endif]-->
    </head>
    <body>

        <!-- Header -->
            <section id="header">
                <header>
                    <span class="image avatar"><img src="../images/sf.jpg" alt="" /></span>
                    <h1 id="logo"><a href="#">San Francisco</a></h1>
                    <p>San Francisco is a great city!</p>
                </header>
                <nav id="nav">
                    <ul>
                        <li><a href="#about" class="active">About</a></li>
                        <li><a href="#companies">Companies</a></li>
                    </ul>
                </nav>
                <footer>
                </footer>
            </section>

        <!-- Wrapper -->
            <div id="wrapper">

                <!-- Main -->
                    <div id="main">



                        <!-- About -->
                            <section id="one">
                                <footer>
                                   <ul class="icons">
                                        <li><a href="../../index.html" class="icon fa-home"><span class="label">Home</span></a></li>
                                        <li><a href="../startups.html" class="icon fa-gears"><span class="label">Startups</span></a></li>
                                        <li><a href="../people.html" class="icon fa-users"><span class="label">People</span></a></li>
                                        <li><a href="../cities.html" class="icon fa-building"><span class="label">Cities</span></a></li>
                                    </ul>
                                </footer>
                            </section>

                        <!-- About -->
                            <section id="about">
                                <div class="container">
                                    <h3>About</h3>
                                    <p>I am an investor so I invest in investments of course.</p>
                                    <ul class="feature-icons">
                                        <li class="fa-fire">98 popularity score</li>
                                        <li class="fa-money">2312 investors</li>
                                        <li class="fa-briefcase">23245 companies</li>
                                        <li class="fa-users">23245 founders</li>
                                    </ul>
                                </div>
                            </section>

                        <!-- Companies -->
                            <section id="companies">
                                <div class="container">
                                    <h3>Companies</h3>
                                    <p>San Francisco is home to cool companies.</p>
                                    <div class="features">
                                        <article>
                                            <a href="../startups/slack.html" class="image"><img src="../images/slack.jpg" alt="" /></a>
                                            <div class="inner">
                                                <h4>Slack</h4>
                                                <p>Messaging for teams.</p>
                                            </div>
                                        </article>
                                        <article>
                                            <a href="../startups/uber.html" class="image"><img src="../images/uber.jpg" alt="" /></a>
                                            <div class="inner">
                                                <h4>Uber</h4>
                                                <p>Your personal driver.</p>
                                            </div>
                                        </article>
                                        <article>
                                            <a href="../startups/palantir.html" class="image"><img src="../images/palantir.png" alt="" /></a>
                                            <div class="inner">
                                                <h4>Palantir</h4>
                                                <p>Products for a purpose.</p>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </section>

                    </div>

                <!-- Footer -->
                    <section id="footer">
                        <div class="container">
                        </div>
                    </section>

            </div>

        <!-- Scripts -->
            <script src="/static/pages/assets/js/jquery.min.js"></script>
            <script src="/static/pages/assets/js/jquery.scrollzer.min.js"></script>
            <script src="/static/pages/assets/js/jquery.scrolly.min.js"></script>
            <script src="/static/pages/assets/js/skel.min.js"></script>
            <script src="/static/pages/assets/js/util.js"></script>
            <!--[if lte IE 8]><script src="/static/pages/assets/js/ie/respond.min.js"></script><![endif]-->
            <script src="/static/pages/assets/js/main.js"></script>

    </body>
</html>