<!DOCTYPE HTML>

<html>
    <head>
        <title>Series Z</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="/static/pages/assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="/static/pages/assets/css/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="/static/pages/assets/css/ie8.css" /><![endif]-->
    </head>
    <body>

        <!-- Header -->
            <section id="header">
                <header>
                    <span class="image avatar"><img src="{{ startup['logo_url'] }}" alt="" /></span>
                    <h1 id="logo"><a href="#">Uber</a></h1>
                    <p>Get from point A to B</p>
                </header>
                <nav id="nav">
                    <ul>
                        <li><a href="#overview" class="active">Overview</a></li>
                        <li><a href="#products">Products</a></li>
                        <li><a href="#founders">Founders</a></li>
                        <li><a href="#investors">Investors</a></li>
                    </ul>
                </nav>
            </section>

        <!-- Wrapper -->
            <div id="wrapper">

                <!-- Main -->
                    <div id="main">

                        <!-- One -->
                            <section id="one">
                                <footer>
                                   <ul class="icons">
                                        <li><a href="../../index.html" class="icon fa-home"><span class="label">Home</span></a></li>
                                        <li><a href="../startups.html" class="icon fa-gears"><span class="label">Startups</span></a></li>
                                        <li><a href="../people.html" class="icon fa-users"><span class="label">People</span></a></li>
                                        <li><a href="../cities.html" class="icon fa-building"><span class="label">Cities</span></a></li>
                                    </ul>
                                </footer>
                            </section>

                        <!-- overview -->
                            <section id="overview">
                                <div class="container">
                                    <h3>Overview</h3>
                                    <p>Uber is a really cool company!</p>
                                    <ul class="feature-icons">
                                        <li class="fa-fire">87/100 popularity score</li>
                                        <li class="fa-users">3 investors</li>
                                        <li class="fa-money">$64B valuation</li>
                                        <li class="fa-gears">Productivity</li>
                                    </ul>
                                </div>
                            </section>

                        <!-- products -->
                            <section id="products">
                                <div class="container">
                                    <h3>Products</h3>
                                    <p>Uber has many products.</p>
                                    <div class="features">
                                        <article>
                                            <a href="#" class="image"><img src="../images/Uber.jpg" alt="" /></a>
                                            <div class="inner">
                                                <h4>Uber</h4>
                                                <p>Mobile app that steals all your money and never gives it back.</p>
                                            </div>
                                        </article>
                                        
                                    </div>
                                </div>
                            </section>

                        <!-- founders -->
                            <section id="founders">
                                <div class="container">
                                    <h3>Founders</h3>
                                    <p>Uber has good founders.</p>
                                    <article>
                                            <a href="../people/ashton.html" class="image"><img src="../images/ashton.jpg" alt="" /></a>
                                            <div class="inner">
                                                <h4><a href="../people/ashton.html">Ashton Kutcher</a></h4>
                                                <p>You just got punk'd!.</p>
                                            </div>
                                    </article>
                                    <article>
                                            <a href="../people/ben.html" class="image"><img src="../images/ben.jpg" alt="" /></a>
                                            <div class="inner">
                                                <h4><a href="../people/ben.html">Ben Horowitz</a></h4>
                                                <p>You just got punk'd!.</p>
                                            </div>
                                    </article>
                                    <article>
                                            <a href="../people/mark.html" class="image"><img src="../images/mark.jpg" alt="" /></a>
                                            <div class="inner">
                                                <h4><a href="../people/mark.html">Mark Cuban</a></h4>
                                                <p>You just got punk'd!.</p>
                                            </div>
                                    </article>
                                    
                                </div>
                            </section>

                        <!-- investors -->
                            <section id="investors">
                                <div class="container">
                                    <h3>Investors</h3>
                                    <p>Uber has lots of money.</p>
                                    <article>
                                            <a href="../people/ashton.html" class="image"><img src="../images/ashton.jpg" alt="" /></a>
                                            <div class="inner">
                                                <h4><a href="../people/ashton.html">Ashton Kutcher</a></h4>
                                                <p>You just got punk'd!.</p>
                                            </div>
                                    </article>
                                    <article>
                                            <a href="../people/ben.html" class="image"><img src="../images/ben.jpg" alt="" /></a>
                                            <div class="inner">
                                                <h4><a href="../people/ben.html">Ben Horowitz</a></h4>
                                                <p>You just got punk'd!.</p>
                                            </div>
                                    </article>
                                    <article>
                                            <a href="../people/mark.html" class="image"><img src="../images/mark.jpg" alt="" /></a>
                                            <div class="inner">
                                                <h4><a href="../people/mark.html">Mark Cuban</a></h4>
                                                <p>You just got punk'd!.</p>
                                            </div>
                                    </article>
                                </div>
                            </section>

                    </div>

                <!-- Footer -->
                    <section id="footer">
                        <div class="container">
                        </div>
                    </section>

            </div>

        <!-- Scripts -->
            <script src="/static/pages/assets/js/jquery.min.js"></script>
            <script src="/static/pages/assets/js/jquery.scrollzer.min.js"></script>
            <script src="/static/pages/assets/js/jquery.scrolly.min.js"></script>
            <script src="/static/pages/assets/js/skel.min.js"></script>
            <script src="/static/pages/assets/js/util.js"></script>
            <!--[if lte IE 8]><script src="/static/pages/assets/js/ie/respond.min.js"></script><![endif]-->
            <script src="/static/pages/assets/js/main.js"></script>

    </body>
</html>